<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/Css.css}">
</head>
<body>

<div class="container">
    <h2>Register</h2>

    <form th:action="@{/register}" method="post">
        <label>Name</label>
        <input type="text" name="name" placeholder="Enter your name" required>

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Create password" required>

        <button type="submit">Register</button>
    </form>

    <p>
        Already have an account?
        <a th:href="@{/login}">Login</a>
    </p>
</div>

</body>
</html>
